<html>
<body>
    <div class="main-banner">
        <div class="heading">
            <h1 class="heading__title">VICTOR FITNESS</h1>
        </div>
        <div class="cards">
            <div class="card card-4">
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">Customer Details</h2>
                <p class="card__apply">
                    <a class="card__link" href="javascript:void(0);" href="/viewwork">View workout<i
                            class="fas fa-arrow-right"></i></a>
                </p>
            </div>
            <div class="card card-2">
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">Profile</h2>
                <p class="card__apply">
                    <a class="card__link" href="=javascript:void(0);" href="/updatecus">Update information<i
                            class="fas fa-arrow-right"></i></a>
                </p>
            </div>
            <div class="card card-5">
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">Logout</h2>
                <p class="card__apply">
                    <a class="card__link" href="javascript:void(0);" href="/" (click)="sub()">Logout<i
                            class="fas fa-arrow-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>