<app-nav></app-nav>
<body>
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="/assets/gym1.mp4" type="video/mp4" />
        </video>
        <div class="video-overlay header-text">
            <div class="caption">
                <h1>Commit to be Fit !</h1>
                <h2>Thing that can't bought by Money <em>FITNESS</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="/signup">Join Today !</a>
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>